body {
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    background: url('../images/header-bg.jpg') no-repeat center;
    background-size: cover;

}

.main-header a,
.main-header,
.main-header a.active {
    color: white;
}

.main-header a.active {
    font-weight: 600;
}

.btn-manotensao {
    color: black;
    background-color: #FFC93F;
    border-color: black;
    font-weight: bold;
}

.btn-manotensao:hover {
    background-color: #cf9c1b;
}

.header-search {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    color: white;
}

.wrapper-footer {
    background-color: black;
    color: white;
}